body {
  background-color: lightblue;
  font-family: 'Indie Flower', cursive;
  margin: 10px 30px;

}

h1 {
  margin: 0 auto;
  text-align: center;

}

.scoreShow {
  /*float: left;*/
  display: block;
  font-size: 2em;
  margin: 0 1em;;
}
p {
  margin: 0;
}

#score{
  font-weight: bold;
}


table {

  text-align: center;
  margin: 0 auto;
}

td {
  height: 150px;
  display: inline-block;
  margin: 10em 1em;
}
.cellFormat
{
    background-color: Black;
    color: Black;
    width: 150px;
    height: 180px;
    padding: 0;
    margin: 0.1em 0.2em;
    border: solid 1px green;
}

img {
  width:150px;
  height:100%;
  margin: 0;
  padding: 0;
}

.back {
  background-image: url("images/downSide.jpg");
  background-repeat:no-repeat;
  background-size: cover;



}

.clicked {
    border: solid 1px white;
}


input {
  width: 60px;
  height: 60px;
}

button {
  width: 70px;
  height:25px;
  font-size: 15px;
  border-radius: 20%;
  text-align: top;
  background: white;
}

.pony{
  float: right;
  margin-right: 5%;
  height: 35px;
  color:white;
  background: rgb(202, 60, 60);
  width: 150px;
  border-radius: 30%;
  font-size: 20px;
  border-color: white;
}

body.advanced {
  /*background-color: #00FFFF;*/
  background-image: url("images/backyellow.jpg");
  background-repeat: repeat;
  background-size: cover;
  width: 100%;
  height: 100%;


}
.advanced img{
  margin: 0;
  padding: 0;
}
.advanced h1{
  text-align: center;
}
.advanced button.pony{
  margin-right: 10%;
}


#ponyfly{
  position: absolute;
  top: 340px;
  left: 10%;
  height: 250px;
}

#ponyplay{
  position: absolute;
  top: 50px;
  left: 45%;
  height: 130px;
}

#ponyfly2{
  position: absolute;
  top: 370px;
  right: 10%;
  height: 165px;
}


.ponyback{
  background-image: url("images/backpony.jpg");
  background-repeat:no-repeat;
  background-size: cover;
}



/*responsitive*/
@media screen and (min-width: 801px) {

}
@media screen
and (min-width: 401px)
and (max-width: 800px) {
  #ponyfly{
    display: none;
  }
  #ponyfly2{
    display: none;
  }
  #ponyplay{
    display: none;
    }

  .cellFormat
  {
      background-color: Black;
      color: Black;
      width: 100px;
      height: 120px;
      padding: 0;
      border: solid 1px green;
  }
}


@media screen and (max-width: 400px) {
  body {
    font-size: 0.7em;
    margin: 0;
  }
  button {
    width: 70px;
    height: 25px;
  }
  button.pony{
    width: 75px;
    height: 25px;
    font-size: 1em;
  }
  #ponyfly{
    display: none;
  }
  #ponyfly2{
    display: none;
  }
  #ponyplay{
    display: none;
    }

  .cellFormat
  {
      background-color: Black;
      color: Black;
      width: 100px;
      height: 120px;
      padding: 0;
      border: solid 1px green;
  }
}
