body {
  background-color: lightblue;
  font-family: 'Indie Flower', cursive;

}

h1 {
  margin: 0 auto;
  text-align: center;

}

.scoreShow {
  /*float: left;*/
  display: block;
  font-size: 2em;
  margin: 0 1em;;
}
p {
  margin: 0;
}

#score{
  font-weight: bold;
}


table {

  text-align: center;
  margin: 0 auto;
}

td {
  height: 150px;
  display: inline-block;
  margin: 10em 1em;
}
.cellFormat
{
    background-color: Black;
    color: Black;
    width: 150px;
    height: 180px;
    padding: 0;
    margin: 0.1em 0.2em;
    border: solid 1px green;
}

img {

  width:150px;
  height:100%;
  margin: 0;
  padding: 0;
}

.back {
  background-image: url("images/downSide.jpg");
  background-repeat:no-repeat;
  background-size: cover;



}

.clicked {
    border: solid 1px white;
}


input {
  width: 60px;
  height: 60px;
}

button {
  width: 60px;
  height:20px;
  text-align: center;
}
